@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

:root {
  --color1: #1a052e;
  --color2: #bcb8b1;
  --color3: #39274b;
  --color4: #353831;
  --color5: #AD5D4E;
  --color6: #3E78B2;
}

* {
  padding: 0%;
  margin: 0%;
  text-decoration: none;
  font-family: "Kanit", sans-serif;
}

html {
  height: 1vh;
}

body {
  background: var(--color2);
}

header {
  display: flex;
  justify-content: space-between;
  background-color: var(--color1);
  border-radius: 5px;
  padding: 1em;
  margin: 1em;
  color: white;
  align-items: center;
}

header h1 {
  font-size: 48px;
}

nav a {
  color: white;
  display: flex;
  justify-content: center;
}

nav a:hover {
  color: #c8c8c8;
}

.loader {
  margin-top: 15em;
  display: flex;
  justify-content: center;
}

.homeSection {
  margin-top: 3em;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.insetBtn {
  border-radius: 5px;
  border: solid 2px var(--color1);
  padding: 0.25em 0.8em;
  margin: 0.5em;
  transition: 0.3s;
  background-color: var(--color1);
}

.insetBtn:hover {
  box-shadow: inset 0 0 0 2.5em var(--color3);
  cursor: pointer;
}

.insetBtnInverse {
  border-radius: 5px;
  border: solid 2px var(--color2);
  padding: 0.25em 0.8em;
  margin: 0.5em;
  transition: 0.25s;
  background-color: var(--color2);
}

.insetBtnInverse:hover {
  box-shadow: inset 0 0 0 2em var(--color4);
  color: white;
  cursor: pointer;
}

.homeSection a {
  width: 45%;
  color: white;
  border-radius: 5px;
  height: 100%;
  margin: 1em;
  background-color: var(--color1);
  text-align: center;
}

.homeSection div:hover {
  background-color: var(--color3);
  cursor: pointer;
}

.homeSection div h1 {
  padding: 2em;
  font-size: 35px;
}


@media (max-width: 750px) {
  .homeSection a {
    width: 90%;
  }

  .homeSection a div h1 {
    font-size: 28px;
  }
  
}


@media (max-width: 550px) {
  header h1 {
    font-size: 20px;
  }

  header {
    padding: .25em;
  }

  .backBtnSection {
    font-size: 10px;
  }

  header a {
    font-size: 10px;
  }
}
/* MY LISTS----------------------------------------------------------------------------------------------------------------------------------- */

.sectionMain {
  margin-top: 3em;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.sectionTitleDiv {
  color: white;
  border-radius: 5px;
  padding: 2em;
  margin: 1em;
  background-color: var(--color4);
  text-align: center;
}

/* LOGIN ******************************************************************************************************************* */

.loginSection {
  color: white;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 30%;
  justify-content: center;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

label {
  width: 100%;
}

.form-div {
  background-color: var(--color1);
  padding: 1em;
  border-radius: 5px;
}

.form-div h4 {
  font-size: 30px;
}

.form-input {
  width: 90%;
  margin: auto;
  margin-top: 1em;
  padding: 0.5em;
}

.form-textarea {
  height: 5em;
}

.form-input-50 {
  width: 40%;
  margin: auto;
  margin-top: 1em;
  padding: 0.5em;
}

.form-firstLast {
  display: flex;
  width: 100%;
}

.form-submit {
  padding: 0.2em 2em 0.2em 2em;
  font-weight: bold;
  font-size: 16px;
}

.pass-input {
  display: flex;
  width: 100%;
  margin: auto;
  padding: 0.5em;
}

#passToggle,
#passToggle2 {
  width: fit-content;
  display: flex;
  align-items: center;
}

#passToggle:hover,
#passToggle2:hover {
  cursor: pointer;
}

.needLoginSection {
  background-color: var(--color1);
  width: fit-content;
  margin: auto;
  padding: 1em;
  margin-top: 15em;
  color: white;
  border-radius: 5px;
  text-align: center;
}

.needLoginSection a h3 {
  padding: 0.5em;
  color: black;
}

/* CREATE LIST **************************************________*_*__*__*_***&_*(_*%(^&_*(_(#%^_&*($_&*($_^&*(_$ */

.createGroupSection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.createListDiv {
  background-color: var(--color1);
  padding: 1em;
  border-radius: 5px;
  width: 25%;
  padding: 2em;
  margin: 1em;
  align-self: flex-start;
}

.createListDiv form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contentDiv {
  background-color: var(--color1);
  text-align: center;
}

/* LISTS )(!)@#(!)@()()()()()(((((((()))))))!@(#)!($)!*%)*^)!*#$)^!*#$%)!*#^$)!*^#)!*^)#*$^)!#*$^)!#*^$ */
.createListComponent {
  color: white;
  border-radius: 5px;
  padding: 2em;
  margin: 1em;
  background-color: var(--color1);
  text-align: center;
}

.editItem:hover {
  background-color: var(--color3);
}
.myListLeft {
  width: 30%;
}

.myListSection {
  display: flex;
  flex-wrap: nowrap;
}

.listDiv {
  width: 100%;
}

.listDivEl {
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
  transition: .2s linear;
  width: 100%;
}

.listDivEl .listComponent, .listDivElToggle .listComponent {
  background-color: var(--color1);
  color: white;
  text-align: center;
  width: 90%;
  padding: 1em;
  margin-top: 1em;
  border-radius: 5px;
  z-index: 100;
}

.listDivElToggle {
  margin: auto;
  transition: .2s linear;
  position: relative;
  display: flex;
  align-items: center;
  width: 60%;
}

.listDivEl .listComponent:hover, .listDivElToggle .listComponent:hover {
  cursor: pointer;
  background-color: var(--color3);
  scale: 1.01;
}

.listDivEl a, .listDivElToggle a {
  position: fixed;
  left: 30%;
  background-color: var(--color1);
  color: white;
  padding: 1em;
  border-radius: 5px;
  transition: 0.2s;
}

.reactTrashList {
  position: fixed;
  left: 85%;
  background-color: var(--color1);
  color: white;
  padding: 1em;
  border-radius: 5px;
  transition: 0.2s;
}

.reactTrash {
  background-color: var(--color1);
  color: white;
  padding: 1em;
  border-radius: 5px;
  transition: 0.2s;
}

.reactTrash:hover, .reactTrashList:hover {
  cursor: pointer;
  background-color: var(--color3);
  color: var(--color2);
  scale: 1.1;
}

.listComponent div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.listComponent div * {
  width: 100%;
}

.itemMapDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  width: 100%;
}

.itemMapDiv div {
  width: 40%;
  display: flex;
  flex-wrap: nowrap;
  padding: 1em;
  height: fit-content;
}

.itemMapDiv div a {
  width: 100%;
  background-color: var(--color1);
  border-radius: 5px;
  margin: 1em;
  color: white;
}

.itemMapDiv div a:hover {
  background-color: var(--color3);
}

.itemMapDiv div span {
  align-self: center;
}

.itemDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: .5em;
  width: 100%;
}

.itemDiv h2, .itemDiv p {
  width: 100%;
  text-align: center;
}

.singleItemTitleDiv h1, .singleItemTitleDiv p {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.singleItemDetails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.singleItemDetails span {
  width: 100%;
  text-align: center;
}

.myItem {
  min-width: 30%;
  width: fit-content;
  max-width: 90%;
}

.itemLink {
  color: var(--color6);
  text-decoration: underline;
  font-weight: bold;
}

.purchased {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.purchased input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: var(--color6);
}

.purchased input:checked ~ .checkmark {
  background-color: var(--color6);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.purchased input:checked ~ .checkmark:after {
  display: block;
}

.purchased .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

