@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

:root {
  --color1: #220c37;
  --color2: #c8c8c8;
  --color3: #39274b;
  --color4: #494949;
  --color5: #494949;
}

* {
  padding: 0%;
  margin: 0%;
  text-decoration: none;
  font-family: "Kanit", sans-serif;
}

html {
  height: 1vh;
}

body {
  background: var(--color2);
}

header {
  display: flex;
  justify-content: space-between;
  background-color: var(--color1);
  border-radius: 5px;
  padding: 1em;
  margin: 1em;
  color: white;
  align-items: center;
}

header h1 {
  font-size: 48px;
}

nav * {
  color: white;
  display: flex;
  justify-content: center;
}

nav *:hover {
  color: #c8c8c8;
}

.loader {
  margin-top: 15em;
  display: flex;
  justify-content: center;
}

.homeSection {
  margin-top: 3em;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.insetBtn {
  border-radius: 5px;
  border: solid 2px var(--color1);
  padding: 0.25em 0.8em;
  margin: 0.5em;
  transition: 0.25s;
  background-color: var(--color1);
}

.insetBtn:hover {
  box-shadow: inset 0 0 0 2em var(--color3);
  cursor: pointer;
}

.insetBtnInverse {
  border-radius: 5px;
  border: solid 2px var(--color2);
  padding: 0.25em 0.8em;
  margin: 0.5em;
  transition: 0.25s;
  background-color: var(--color2);
}

.insetBtnInverse:hover {
  box-shadow: inset 0 0 0 2em var(--color4);
  color: white;
  cursor: pointer;
}

.homeSection a {
  width: 45%;
  color: white;
  border-radius: 5px;
  height: 100%;
  margin: 1em;
  background-color: var(--color1);
  text-align: center;
}

.homeSection div:hover {
  background-color: var(--color3);
  cursor: pointer;
}

.homeSection div h1 {
  padding: 2em;
  font-size: 35px;
}
/* MY LISTS----------------------------------------------------------------------------------------------------------------------------------- */

.sectionMain {
  margin-top: 3em;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.sectionTitleDiv {
  color: white;
  border-radius: 5px;
  padding: 2em;
  margin: 1em;
  background-color: var(--color4);
  text-align: center;
}

/* LOGIN ******************************************************************************************************************* */

.loginSection {
  color: white;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 30%;
  justify-content: center;
}

.form-div {
  background-color: var(--color1);
  padding: 1em;
  border-radius: 5px;
}

.form-div h4 {
  font-size: 30px;
}

.form-input {
  width: 90%;
  margin: auto;
  margin-top: 1em;
  padding: 0.5em;
}

.form-textarea {
  height: 5em;
}

.form-input-50 {
  width: 40%;
  margin: auto;
  margin-top: 1em;
  padding: 0.5em;
}

.form-firstLast {
  display: flex;
}

.form-submit {
  padding: 0.2em 2em 0.2em 2em;
  font-weight: bold;
  font-size: 16px;
}

.needLoginSection {
  background-color: var(--color4);
  width: fit-content;
  margin: auto;
  padding: 1em;
  margin-top: 15em;
  color: white;
  border-radius: 5px;
  text-align: center;
}

.needLoginSection a h3 {
  padding: 0.5em;
  color: white;
}

/* CREATE LIST **************************************________*_*__*__*_***&_*(_*%(^&_*(_(#%^_&*($_&*($_^&*(_$ */

.createGroupSection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.createListDiv {
  background-color: var(--color1);
  padding: 1em;
  border-radius: 5px;
  width: 25%;
  padding: 2em;
  margin: 1em;
  align-self: flex-start;
}

.createListDiv form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contentDiv {
  background-color: var(--color1);
  text-align: center;
}

/* LISTS )(!)@#(!)@()()()()()(((((((()))))))!@(#)!($)!*%)*^)!*#$)^!*#$%)!*#^$)!*^#)!*^)#*$^)!#*$^)!#*^$ */
.createListComponent {
  color: white;
  border-radius: 5px;
  padding: 2em;
  margin: 1em;
  background-color: var(--color1);
  text-align: center;
}
.myListLeft {
  width: 30%;
}

.myListSection {
  display: flex;
  flex-wrap: nowrap;
}

.listDiv {
  width: 100%;
}

.listDiv div {
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.listDiv div a {
  background-color: var(--color1);
  color: white;
  text-align: center;
  width: 90%;
  padding: 1em;
  margin-top: 1em;
  border-radius: 5px;
}

.listDiv div a:hover {
  background-color: var(--color3);
  scale: 1.01;
}

.reactTrash {
  background-color: var(--color1);
  color: white;
  padding: 1em;
  border-radius: 5px;
  transition: 0.2s;
}

.reactTrash:hover {
  cursor: pointer;
  background-color: var(--color3);
  color: var(--color2);
  scale: 1.1;
}

.listComponent div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.listComponent div * {
  width: 100%;
}





.itemMapDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.itemMapDiv div {
  width: 40%;
  display: flex;
  flex-wrap: nowrap;
  padding: 1em;
  height: fit-content;
}

.itemMapDiv div a {
  width: 100%;
  background-color: var(--color1);
  border-radius: 5px;
  margin: 1em;
  color: white;
}

.itemMapDiv div a:hover {
  background-color: var(--color3);
}

.itemMapDiv div span {
  align-self: center;
}

.itemDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: .5em;
  width: 100%;
}

.itemDiv h2, p {
  width: 100%;
  text-align: center;
}